.list {
  margin-left: 0px;
  padding-left: 0px;
}

.list-item {
  width: 300px;
  height: 120px;
  margin-top: 10px;
  list-style-type: none;
}

.image-2 {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  /* background-image: url('../images/untitled.jpg'); */
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
  text-transform: none;
  background-clip: border-box;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-8 {
  width: 50px;
  margin-top: -30px;
  margin-left: 185px;
  -webkit-transform: translate(30px, -40px);
  -ms-transform: translate(30px, -40px);
  transform: translate(30px, -40px);
  text-align: center;
}

.button-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 220px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px none #000;
  border-radius: 5px;
  background-color: #000;
  -webkit-transform: translate(-29px, -75px);
  -ms-transform: translate(-29px, -75px);
  transform: translate(-29px, -75px);
  font-size: 24px;
  text-align: center;
}

.button-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-bottom: 0px;
  margin-left: 260px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  border-radius: 5px;
  background-color: #000;
  -webkit-transform: translate(0px, -105px);
  -ms-transform: translate(0px, -105px);
  transform: translate(0px, -105px);
  font-size: 24px;
  text-align: center;
}

.button-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 220px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #000;
  background-image: url('../images/remove.svg');
  background-position: 50% 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  -webkit-transform: translate(40px, -190px);
  -ms-transform: translate(40px, -190px);
  transform: translate(40px, -190px);
  text-align: center;
}

.div-block-4 {
  display: block;
  width: 300px;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.button-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  margin-top: 13px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 5px;
  background-color: #000;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Tajawal, sans-serif;
  font-weight: 700;
}

.div-block-5 {
  display: block;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.paragraph {
  width: 150px;
  height: 50px;
  margin-top: -30px;
  -webkit-transform: translate(105px, -40px);
  -ms-transform: translate(105px, -40px);
  transform: translate(105px, -40px);
  font-family: Tajawal, sans-serif;
  font-weight: 700;
}

.div-block-6 {
  width: 280px;
  height: 2px;
  margin-top: -120px;
  margin-right: auto;
  margin-left: auto;
  background-color: #d1d1d1;
}

.paragraph-2 {
  width: 100px;
  -webkit-transform: translate(105px, -35px);
  -ms-transform: translate(105px, -35px);
  transform: translate(105px, -35px);
}

.heading-9 {
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
  direction: rtl;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.heading-10 {
  font-size: 32px;
}

@media screen and (max-width: 479px) {
  .list-item {
    margin-top: 0px;
  }

  .image-2 {
    width: 80px;
    margin-top: 10px;
    margin-left: 15px;
  }

  .heading-8 {
    margin-top: -98px;
    margin-left: 167px;
    -webkit-transform: translate(45px, 28px);
    -ms-transform: translate(45px, 28px);
    transform: translate(45px, 28px);
    text-align: center;
  }

  .button-5 {
    width: 25px;
    margin-top: 0px;
    margin-left: 200px;
    border-radius: 5px;
    background-color: #000;
    -webkit-transform: translate(-10px, -8px);
    -ms-transform: translate(-10px, -8px);
    transform: translate(-10px, -8px);
  }

  .button-6 {
    margin-left: 236px;
    border-radius: 5px;
    background-color: #000;
    -webkit-transform: translate(18px, -38px);
    -ms-transform: translate(18px, -38px);
    transform: translate(18px, -38px);
  }

  .button-7 {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 214px;
    background-color: #000;
    background-image: url('../images/remove.svg');
    background-position: 50% 50%;
    background-size: 16px 16px;
    -webkit-transform: translate(40px, -130px);
    -ms-transform: translate(40px, -130px);
    transform: translate(40px, -130px);
  }

  .div-block-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 270px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
    font-size: 16px;
  }

  .div-block-6 {
    margin-top: -60px;
  }

  .heading-9 {
    margin-right: 15px;
    margin-left: 15px;
    direction: rtl;
  }
}

